html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%239C92AC' fill-opacity='1' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E"); 
    color:black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container{
    background-color: rgba(255,255,255, 0.4);
    max-width: 900px;
    width: auto;
    padding: 20px 10px;
    border-radius: 20px;
    box-shadow: 0px 10px 10px 10px rgba(0,0,0, 0.2);

}

.quote-text {
    font-size: 2.75rem;
    font-family: 'Permanent Marker', cursive, sans-serif;
    font-weight: 700;
}

.long-quote{
    font-size: 2rem;
}

.fa-quote-left{
    font-size: 4rem;
}

.quote-author {
    font-family: serif;
    font-size: 2rem;
    margin-top: 15px;
    font-weight: 400px;
    margin-left: 400px;
    font-style: italic;
}

.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
    border-radius: 10px;
    height: 2.5rem;
    border: none;
    color: white;
    background: #333;
    outline: none;
    padding: 0.5rem 1.8rem;
}

button:hover {
    filter: brightness(120%)
}

button:active {
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255,255,255, 0.45)
}

.twitter-button:hover {
    color: #38a1f3
}

.fa-twitter {
    font-size: 1.5rem;
}
/* Media Queries */

@media screen and (max-width: 1000px) {
    .quote-container {
        margin: auto 10px;
    }
    .quote-text {
        font-size: 2.5rem;
    }
}